@use '@/styles/_constants';
@use '@/styles/mixins';

.featurePostSection {
  @include mixins.flex-center;

  height: constants.$size-xxxl;
  background-color: constants.$color-light-light-gray;
  padding: constants.$padding-l;
}

.featurePostContainer {
  @include mixins.flex-space-between;

  align-items: center;
  width: constants.$full-size;
  max-width: constants.$max-container-width;
  height: constants.$full-size;
  gap: constants.$gap-xl;
}

.informationSection {
  @include mixins.flex-start;

  flex-direction: column;
  gap: constants.$gap-m;
  max-width: constants.$screen-size-small;
}

.informationContainer {
  @include mixins.flex-start;

  flex-direction: column;
  gap: constants.$gap-m;
}

.sectionTitle {
  font-size: constants.$font-size-s;
  font-weight: constants.$font-weight-m;
  letter-spacing: constants.$gap-xs;
  line-height: constants.$size-xs;
  color: constants.$color-dark-blue;
}

.title {
  font-family: constants.$sen-font-bold;
  font-size: constants.$font-size-xxl;
  color: constants.$color-dark-blue;
  font-weight: constants.$font-weight-xl;
}

.infoContainer {
  @include mixins.flex-start;

  gap: constants.$gap-s;
  height: constants.$size-xs;
}

.metaInfo {
  font-size: constants.$font-size-s;
}

.authorSpan {
  color: constants.$color-purple;
}

.descriptionText {
  color: constants.$color-medium-gray;
}

.imageContainer {
  position: relative;
  width: constants.$full-size;
  max-width: constants.$size-xxxl;
  min-width: constants.$size-xxl;
  height: constants.$full-size;
  max-height: constants.$size-xl;
}

.verticalDevider {
  border-left: constants.$size-min constants.$color-black solid;
  height: constants.$full-size;
}

@media only screen and (max-width: constants.$screen-size-small) {
  .featurePostSection {
    padding: constants.$padding-l;
    height: constants.$full-size;
  }

  .sectionTitle {
    font-size: constants.$font-size-xs;
  }

  .title {
    font-size: constants.$font-size-xl;
  }

  .metaInfo {
    font-size: constants.$font-size-xs;
  }

  .descriptionText {
    font-size: constants.$font-size-xs;
  }

  .imageContainer {
    height: constants.$size-xl;
    min-width: constants.$size-xl;
  }
}

@media only screen and (max-width: constants.$screen-size-mobile) {
  .featurePostSection {
    padding: constants.$padding-l;
  }

  .featurePostContainer {
    flex-direction: column;
    gap: constants.$gap-m;
  }

  .title {
    font-size: constants.$font-size-s;
  }

  .imageContainer {
    min-width: constants.$size-xl;
  }
}
