@use '@/styles/_constants';
@use '@/styles/mixins';

.container {
  @include mixins.flex-start;

  flex-direction: column;
  width: constants.$full-size;
  max-width: constants.$max-container-width;
  gap: constants.$gap-m;
}

.title {
  font-family: constants.$sen-font;
  font-size: constants.$font-size-xxl;
  font-weight: constants.$font-weight-xl;
}

.list {
  @include mixins.flex-space-between;

  gap: constants.$gap-s;
  width: constants.$full-size;
  flex-wrap: wrap;
}

@media only screen and (max-width: constants.$screen-size-big) {
  .list {
    @include mixins.flex-center;
  }
}


@media only screen and (max-width: constants.$screen-size-small) {
  .list {
    gap: constants.$gap-xs;
  }
}

@media only screen and (max-width: constants.$screen-size-mobile) {
  .list {
    @include mixins.flex-start;

    flex-direction: column;
    gap: constants.$gap-m;
    flex-wrap: wrap;
  }

  .title {
    font-size: constants.$font-size-m;
  }
}
