@use '@/styles/_constants';
@use '@/styles/mixins';

.footer-section {
  @include mixins.flex-center;

  flex-direction: column;
  padding: constants.$padding-max constants.$padding-l constants.$padding-l;
  background-color: constants.$color-dark-blue;
  height: constants.$size-xxxl;
  gap: constants.$gap-xl;
}

.subscribe-container {
  @include mixins.flex-center;

  justify-content: space-between;
  padding: constants.$padding-l;
  background-color: constants.$color-dark-gray;
  width: constants.$full-size;
  max-width: constants.$max-container-width;
  height: constants.$full-size;
  gap: constants.$gap-l;


  &__text-container {
    max-width: constants.$size-xxxl;
  }

  &__input-container {
    @include mixins.flex-space-between;

    min-width: constants.$size-xl;
  }

  &__text {
    font-family: constants.$sen-font;
    font-size: constants.$font-size-xxl;
    color: constants.$color-white;
    font-weight: constants.$font-weight-xl;
  }

  &__input {
    background: none;
    border: constants.$size-min constants.$color-light-gray solid;
    outline: none;
    color: constants.$color-white;
    height: constants.$big-item-height;
    width: constants.$full-size;
    font-size: constants.$font-size-l;
    padding: constants.$padding-s;

    :focus {
      outline: none;
    }
  }
}

.info-container {
  @include mixins.flex-space-between;

  width: constants.$full-size;
  font-family: constants.$main-font;
  color: constants.$color-light-light-gray;
  max-width: constants.$max-container-width;

  &__socials-container {
    @include mixins.flex-space-between;

    width: 144px;
  }
}

@media only screen and (max-width: constants.$screen-size-small) {
  .footer-section {
    height: constants.$size-xxxl;
    padding-top: constants.$padding-xl;
    gap: constants.$gap-m;
  }
  .subscribe-container {
    @include mixins.flex-center;

    max-width: constants.$max-page-container-width;

    &__text-container {
      max-width: constants.$full-size;
    }

    &__input-container {
      width: constants.$full-size;
      min-width: 0;
    }

    &__text {
      font-size: constants.$font-size-l;
    }

    &__input {
      height: constants.$small-item-height;
      font-size: constants.$font-size-s;
    }
  }

  .info-container {
    flex-direction: column;
    gap: constants.$gap-m;
    padding: constants.$padding-m;

    &__socials-container {
      @include mixins.flex-space-between;

      width: 144px;
    }
  }
}

@media only screen and (max-width: constants.$screen-size-mobile) {
  .subscribe-container {
    flex-direction: column;

    &__input {
      height: constants.$small-item-height;
      font-size: constants.$font-size-s;
    }
  }
}
