@use '@/styles/_constants';
@use '@/styles/mixins';

.container {
  @include mixins.flex-column;

  width: constants.$full-size;
  max-width: constants.$max-container-width;
  gap: constants.$gap-l;
}

.title {
  font-family: constants.$sen-font;
  font-size: constants.$font-size-xxxl;
  font-weight: constants.$font-weight-xl;
}

.horizontalLine {
  @include mixins.reset-sizes;

  width: constants.$full-size;
  height: constants.$size-min;
  background-color: constants.$color-black;
}

.listContainer {
  @include mixins.flex-column;

  gap: constants.$gap-xl;
}

@media only screen and (max-width: constants.$screen-size-mobile) {
  .container {
    gap: constants.$gap-s;
  }

  .listContainer {
    gap: 0;
  }

  .title {
    font-family: constants.$sen-font;
    font-size: constants.$font-size-l;
    font-weight: constants.$font-weight-xl;
  }
}