@use '@/styles/_constants';
@use '@/styles/mixins';

.headerSection {
  @include mixins.flex-center;

  width: constants.$full-size;
  background-color: constants.$color-dark-blue;
  height: constants.$padding-xl;
  padding: 0 constants.$padding-xl;
  position: fixed;
  top: 0;
  z-index: constants.$z-index-l;

  @media only screen and (max-width: constants.$screen-size-small) {
    padding: 0 constants.$padding-l;
  }
}

.headerContainer {
  @include mixins.flex-space-between;

  align-items: center;
  width: constants.$full-size;
  max-width: constants.$max-container-width;
  height: constants.$full-size;
}

.headerText {
  color: constants.$color-white;
  font-weight: constants.$font-weight-xl;
  font-size: constants.$font-size-l;
  cursor: pointer;
}
